<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">


<!-- Breadcrumbs-->
<div th:fragment="navigator">
    <ol class="breadcrumb" >
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Overview</li>
    </ol>
</div>

<nav class="sidebar" th:fragment="sidebar">
    <ol class="sidebar navbar-nav">

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="testMenuDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>(realestate)</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="testMenuDropDown" >
                <h6 class="dropdown-header">목록:</h6>
                <a class="dropdown-item" href="/complexList">단지 목록</a>
                <a class="dropdown-item" href="/articleList">매물 목록</a>
            </div>
        </li>
    </ol>
</nav>
</html>